section{
    margin-top: 200px;
   border-radius: 25px;
}
body{
    background-image: linear-gradient(to right, rgb(128, 0, 255) , rgb(0, 217, 255));
   
}
section .card{
    background-color: #ffffff2e !important;
}

h1{
    font-family: fantasy;
}